LUCEE_ADMIN_PASSWORD=
CFCONFIG_DATASOURCES_CMSCONDOMINIO_CLASSNAME=
CFCONFIG_DATASOURCES_CMSCONDOMINIO_CONNECTIONSTRING=
CFCONFIG_DATASOURCES_CMSCONDOMINIO_USERNAME=
CFCONFIG_DATASOURCES_CMSCONDOMINIO_PASSWORD=
CFCONFIG_DATASOURCES_CMSCONDOMINIO_BUNDLENAME=
CFCONFIG_DATASOURCES_CMSCONDOMINIO_HOST=
CFCONFIG_DATASOURCES_CMSCONDOMINIO_PORT=
CFCONFIG_DATASOURCES_CMSCONDOMINIO_DATABASE=
